@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(14 7 62);
    perspective: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cube {
    position: relative;
    margin: auto;
    width: 50vmin;
    height: 50vmin;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cube:hover{
    transform: rotateX(0deg) rotateY(0deg) translateZ(-25vmin) !important;
  }

.side {
   position: absolute;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50vmin;
    height: 50vmin;
   background-color: blueviolet; 
   display: flex;
   padding: 120px 0;
   color: rgb(218, 224, 240);
   text-transform: uppercase;
   text-align: center;
   backface-visibility: hidden;
}

.side span {
    position: relative ;
}

  .top {
    transform: translateY(-25vmin) rotateX(90deg);
    background-color: rgb(64 54 21);
  }
  .left {
    transform: translateX(-25vmin) rotateY(270deg) ;
    background-color: rgb(64 54 21);
  }
  .right {
      transform: translateX(25vmin) rotateY(90deg);
    background-color:rgb(64 54 21);
  }
  .bottom {
    transform: translateY(25vmin) rotateX(270deg);
    background-color: rgb(64 54 21);
  }
  .front {
    transform: translateZ(25vmin);
    background-color: #0083ff;
  }
  
  a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:rgb(150, 114, 153)
}

.avatar {
    max-width: 25%;
    height: 100%;
}

.container > input {
    display: none;
    position: absolute;
    width: calc(100vw / 11);
    height: calc(100vh / 5); 
}

.container label {
    position: absolute;
    width: calc(100vw / 11);
    height: calc(100vh / 5); 
    background-color: transparent;
}

:root {
    --width_1pt: calc(100vw/11);
    --height_1pt: calc(100vh/5); 
}

.up1 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: 0;
}

#up1:hover ~ .cube{
  transform: rotateX(45deg) rotateY(-45deg) translateZ(-25vmin) !important;
}

#up1:checked ~ .cube {
    transform: rotateX(45deg) rotateY(-45deg) translateZ(-25vmin);
}

.up2 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: var(--width_1pt);
}

#up2:hover ~ .cube{
  transform: rotateX(45deg) rotateY(-36deg) translateZ(-25vmin) !important;
}

#up2:checked ~ .cube {
    transform: rotateX(45deg) rotateY(-36deg) translateZ(-25vmin);
}

.up3 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*2);
}

#up3:hover ~ .cube{
  transform: rotateX(45deg) rotateY(-27deg) translateZ(-25vmin) !important;
}

#up3:checked ~ .cube {
    transform: rotateX(45deg) rotateY(-27deg) translateZ(-25vmin);
}

.up4 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*3);
}

#up4:hover ~ .cube{
  transform: rotateX(45deg) rotateY(-18deg) translateZ(-25vmin) !important;
}

#up4:checked ~ .cube {
    transform: rotateX(45deg) rotateY(-18deg) translateZ(-25vmin);
}

.up5 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*4);
}

#up5:hover ~ .cube{
  transform: rotateX(45deg) rotateY(-9deg) translateZ(-25vmin) !important;
}

#up5:checked ~ .cube {
    transform: rotateX(45deg) rotateY(-9deg) translateZ(-25vmin);
}

.up6 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*5);
}

#up6:hover ~ .cube{
  transform: rotateX(45deg) rotateY(0deg) translateZ(-25vmin) !important;
}

#up6:checked ~ .cube {
    transform: rotateX(45deg) rotateY(0deg) translateZ(-25vmin);
}


.up7 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*6);
}

#up7:hover ~ .cube{
  transform: rotateX(45deg) rotateY(9deg) translateZ(-25vmin) !important;
}

#up7:checked ~ .cube {
    transform: rotateX(45deg) rotateY(9deg) translateZ(-25vmin);
}

.up8 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*7);
}

#up8:hover ~ .cube{
  transform: rotateX(45deg) rotateY(18deg) translateZ(-25vmin) !important;
}

#up8:checked ~ .cube {
    transform: rotateX(45deg) rotateY(18deg) translateZ(-25vmin);
}

.up9 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*8);
}

#up9:hover ~ .cube{
  transform: rotateX(45deg) rotateY(27deg) translateZ(-25vmin) !important;
}

#up9:checked ~ .cube {
    transform: rotateX(45deg) rotateY(27deg) translateZ(-25vmin);
}

.up10 {
    display: inline-block;
    margin: auto;
    top: 0;
    left: calc(var(--width_1pt)*9);
}

#up10:hover ~ .cube{
  transform: rotateX(45deg) rotateY(36deg) translateZ(-25vmin) !important;
}

#up10:checked ~ .cube {
    transform: rotateX(45deg) rotateY(36deg) translateZ(-25vmin);
}

.up11 {
    display: inline-block;
    margin: auto;
    top: 0;
    right: 0;
}

#up11:hover ~ .cube{
  transform: rotateX(45deg) rotateY(45deg) translateZ(-25vmin) !important;
}

#up11:checked ~ .cube {
    transform: rotateX(45deg) rotateY(45deg) translateZ(-25vmin);
}

.right1 {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    right: 0;
}

#right1:hover ~ .cube{
  transform: rotateX(23deg) rotateY(55deg) translateZ(-25vmin) !important;
}

#right1:checked ~ .cube {
    transform: rotateX(23deg) rotateY(55deg) translateZ(-25vmin);
}

.right2 {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    right: 0;
}

#right2:hover ~ .cube{
  transform: rotateX(0deg) rotateY(55deg) translateZ(-25vmin) !important;
}

#right2:checked ~ .cube {
    transform: rotateX(0deg) rotateY(55deg) translateZ(-25vmin);
}

.right3 {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    right: 0;
}

#right3:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(55deg) translateZ(-25vmin) !important;
}

#right3:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(55deg) translateZ(-25vmin);
}

.right1_a {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    right:var(--width_1pt);
}

#right1_a:hover ~ .cube{
  transform: rotateX(23deg) rotateY(40deg) translateZ(-25vmin) !important;
}

#right1_a:checked ~ .cube {
    transform: rotateX(23deg) rotateY(40deg) translateZ(-25vmin);
}

.right2_a {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    right:var(--width_1pt);
}

#right2_a:hover ~ .cube{
  transform: rotateX(0deg) rotateY(40deg) translateZ(-25vmin) !important;
}

#right2_a:checked ~ .cube {
    transform: rotateX(0deg) rotateY(40deg) translateZ(-25vmin);
}

.right3_a {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    right:var(--width_1pt);
}

#right3_a:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(40deg) translateZ(-25vmin) !important;
}

#right3_a:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(40deg) translateZ(-25vmin);
}

.right1_b {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    right: calc(var(--width_1pt)*2);
}

#right1_b:hover ~ .cube{
  transform: rotateX(23deg) rotateY(25deg) translateZ(-25vmin) !important;
}

#right1_b:checked ~ .cube {
    transform: rotateX(23deg) rotateY(25deg) translateZ(-25vmin);
}

.right2_b {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    right: calc(var(--width_1pt)*2);
}

#right2_b:hover ~ .cube{
  transform: rotateX(0deg) rotateY(25deg) translateZ(-25vmin) !important;
}

#right2_b:checked ~ .cube {
    transform: rotateX(0deg) rotateY(25deg) translateZ(-25vmin);
}

.right3_b {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    right: calc(var(--width_1pt)*2);
}

#right3_b:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(25deg) translateZ(-25vmin) !important;
}

#right3_b:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(25deg) translateZ(-25vmin);
}

.down1 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: 0;
}

#down1:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(-45deg) translateZ(-25vmin) !important;
}

#down1:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(-45deg) translateZ(-25vmin);
}

.down2 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: var(--width_1pt);
}

#down2:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(-36deg) translateZ(-25vmin) !important;
}

#down2:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(-36deg) translateZ(-25vmin);
}

.down3 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*2);
}

#down3:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(-27deg) translateZ(-25vmin) !important;
}

#down3:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(-27deg) translateZ(-25vmin);
}

.down4 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*3);
}

#down4:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(-18deg) translateZ(-25vmin) !important;
}

#down4:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(-18deg) translateZ(-25vmin);
}

.down5 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*4);
}

#down5:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(-9deg) translateZ(-25vmin) !important;
}

#down5:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(-9deg) translateZ(-25vmin);
}

.down6 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*5);
}

#down6:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(0deg) translateZ(-25vmin) !important;
}

#down6:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(0deg) translateZ(-25vmin);
}

.down7 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*6);
}

#down7:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(9deg) translateZ(-25vmin) !important;
}

#down7:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(9deg) translateZ(-25vmin);
}

.down8 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*7);
}

#down8:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(18deg) translateZ(-25vmin) !important;
}

#down8:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(18deg) translateZ(-25vmin);
}

.down9 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*8);
}

#down9:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(27deg) translateZ(-25vmin) !important;
}

#down9:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(27deg) translateZ(-25vmin);
}

.down10 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    left: calc(var(--width_1pt)*9);
}

#down10:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(36deg) translateZ(-25vmin) !important;
}

#down10:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(36deg) translateZ(-25vmin);
}

.down11 {
    display: inline-block;
    margin: auto;
    bottom: 0;
    right: 0;
}

#down11:hover ~ .cube{
  transform: rotateX(-45deg) rotateY(45deg) translateZ(-25vmin) !important;
}

#down11:checked ~ .cube {
    transform: rotateX(-45deg) rotateY(45deg) translateZ(-25vmin);
}

.left1 {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    left: 0;
}

#left1:hover ~ .cube{
  transform: rotateX(23deg) rotateY(-55deg) translateZ(-25vmin) !important;
}

#left1:checked ~ .cube {
    transform: rotateX(23deg) rotateY(-55deg) translateZ(-25vmin);
}

.left2 {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    left: 0;
}

#left2:hover ~ .cube{
  transform: rotateX(0deg) rotateY(-55deg) translateZ(-25vmin) !important;
}

#left2:checked ~ .cube {
    transform: rotateX(0deg) rotateY(-55deg) translateZ(-25vmin);
}

.left3 {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    left: 0;
}

#left3:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(-55deg) translateZ(-25vmin) !important;
}

#left3:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(-55deg) translateZ(-25vmin);
}

.left1_a {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    left: var(--width_1pt);
}

#left1_a:hover ~ .cube{
  transform: rotateX(23deg) rotateY(-40deg) translateZ(-25vmin) !important;
}

#left1_a:checked ~ .cube {
    transform: rotateX(23deg) rotateY(-40deg) translateZ(-25vmin);
}

.left2_a {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    left: var(--width_1pt);
}

#left2_a:hover ~ .cube{
  transform: rotateX(0deg) rotateY(-40deg) translateZ(-25vmin) !important;
}

#left2_a:checked ~ .cube {
    transform: rotateX(0deg) rotateY(-40deg) translateZ(-25vmin);
}

.left3_a {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    left: var(--width_1pt);
}

#left3_a:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(-40deg) translateZ(-25vmin) !important;
}

#left3_a:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(-40deg) translateZ(-25vmin);
}

.left1_b {
    display: inline-block;
    margin: auto;
    top: var(--height_1pt);
    left: calc(var(--width_1pt)*2);
}

#left1_b:hover ~ .cube{
  transform: rotateX(23deg) rotateY(-25deg) translateZ(-25vmin) !important;
}

#left1_b:checked ~ .cube {
    transform: rotateX(23deg) rotateY(-25deg) translateZ(-25vmin);
}

.left2_b {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*2);
    left: calc(var(--width_1pt)*2);
}

#left2_b:hover ~ .cube{
  transform: rotateX(0deg) rotateY(-25deg) translateZ(-25vmin) !important;
}

#left2_b:checked ~ .cube {
    transform: rotateX(0deg) rotateY(-25deg) translateZ(-25vmin);
}

.left3_b {
    display: inline-block;
    margin: auto;
    top: calc(var(--height_1pt)*3);
    left: calc(var(--width_1pt)*2);
}

#left3_b:hover ~ .cube{
  transform: rotateX(-23deg) rotateY(-25deg) translateZ(-25vmin) !important;
}

#left3_b:checked ~ .cube {
    transform: rotateX(-23deg) rotateY(-25deg) translateZ(-25vmin);
}

.cube > label.center {
    position: absolute;
    transform: translateZ(25vmin);
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.cube > input {
    position: absolute;
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
}

.center:hover ~ .front{
  animation: shake_front 1s linear infinite;
}

@keyframes shake_front {
    0% {
        transform: translateX(0vmin) translateZ(25vmin);
    }
    20% {
        transform: translateX(1vmin) translateZ(25vmin);
    }
    40%{
        transform: translateX(-1vmin) translateZ(25vmin);
    }
    60%{
        transform: translateX(2vmin) translateZ(25vmin);
    }
    80%{
        transform: translateX(-2vmin) translateZ(25vmin);
    }
    100%{
        transform: translateX(0vmin) translateZ(25vmin);
    }
}

#center:checked ~ .cube {
    transform: rotateX(0deg) rotateY(0deg) translateZ(-25vmin);
}

.center:hover ~ .left{
    animation: shake_left 1s linear infinite;
  }

  @keyframes shake_left {
    0% {
        transform: rotateY(-30deg) translateX(-15vmin) translateZ(65vmin);
    }
     20% {
        transform: rotateX(0deg) rotateY(-70deg) translateZ(50vmin) 
    }
    40%{
        transform: rotateX(0deg) rotateY(-50deg)translateX(-15vmin) translateZ(50vmin) 
    }
    60%{
        transform: rotateX(0deg) rotateY(-65deg) translateX(-15vmin) translateZ(50vmin) 
    }
    80%{
        transform: rotateX(0deg) rotateY(-50deg) translateX(-15vmin) translateZ(50vmin) 
    }
    100%{
        transform: rotateY(-80deg) translateX(-10vmin) translateZ(60vmin);
    }
}
.center:hover ~ .right{
    animation: shake_right 1s linear infinite;
  }

  @keyframes shake_right {
    0% {
        transform: rotateY(0deg) translateX(50vmin) translateZ(25vmin);
    }
    20% {
        transform: rotateX(0deg) rotateY(70deg) translateZ(50vmin) 
    }
    40%{
        transform: rotateX(0deg) rotateY(50deg)translateX(15vmin) translateZ(50vmin) 
    }
    60%{
        transform: rotateX(0deg) rotateY(65deg) translateX(15vmin) translateZ(50vmin) 
    }
    80%{
        transform: rotateX(0deg) rotateY(50deg) translateX(15vmin) translateZ(50vmin) 
    }
    100%{
        transform: rotateY(50deg) translateX(25vmin) translateZ(50vmin);
    }
}

.center:hover ~ .bottom {
    animation: shake_bottom 1s linear infinite;
  }

  @keyframes shake_bottom {
    0% {
        transform: rotateX(-80deg) translateY(40vmin)  scaleY(0.5);
    }
    20% {
        transform: rotateX(-5deg)  translateY(40vmin)  scaleY(0.5)
    }
    40%{
        transform: rotateX(-18deg)  translateY(40vmin)  scaleY(0.5)
    }
    60%{
        transform: rotateX(-9deg)  translateY(40vmin)  scaleY(0.5)
    }
    80%{
        transform: rotateX(-10deg) translateY(40vmin)  scaleY(0.5)
    }
    100%{
        transform: rotateX(-80deg) translateY(40vmin) scaleY(0.5)
    }
}