@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: rgb(225, 241, 245);
    color: rgb(58, 36, 36);
    font: normal 16px 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:rgb(150, 114, 153)
}

h4 {
    margin: 10px 0;
}

.avatar {
    width: 100px;
    height: 150px;
    margin-top: 1.5em;
    border-radius: 15px;
    box-shadow: -11px 7px 9px 1px rgba(0, 0, 0, 0.25);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.15em;
}

.info {
    display: flex;
    margin-bottom: 15px;
}



.info-text {
    margin-left: 30px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin:auto;
    padding-top: 30px;
}

.profile {
    display: flex;
    position: relative;
}

.bg-yellow {
    background:rgb(250, 250, 208);
}

.bg-green {
    background: rgb(212, 250, 211);
}

.bg-red {
    background: rgb(250, 208, 208);
}

.card {
    height: 35%;
    padding: 0;
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    flex: 1 1 auto;
    transition: all 2s;
}

.card:hover {
    flex-grow: 5;
}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
}

.card:hover > .hobbies,
.card:hover > .table,
.card:hover > .link-list {
    width: 100%;
    height: 15vh;
}

.hobbies {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background: linear-gradient(70deg, rgb(250, 250, 208), rgb(216, 216, 120));
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 33%;
    height: 0;
    transition: all 2s, background-color 2s;
    border-radius: 0 0 20px 20px;
    transform-origin:top;
}

.list span {
    position: relative;
    overflow: hidden;
    display: block;
    width: 70%;
    line-height: 1.2;
    margin-bottom: 5px;

}

.card:hover span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(240, 240, 222);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.card:hover span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, rgb(250, 250, 208), rgb(216, 216, 120));
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.list span:nth-of-type(1)::before,
span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

.list span:nth-of-type(2)::before,
 .list span:nth-of-type(2)::after{
    animation-delay: 2.5s;
}

.list span:nth-of-type(3)::before,
 .list span:nth-of-type(3)::after{
    animation-delay: 3s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, rgb(212, 250, 211), rgb(136, 216, 120));
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    height: 0;
    transition: all 2s, background-color 2s;
    border-radius: 0 0 20px 20px;
    transform-origin:top;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.table tr {
    position: relative;
    overflow: hidden;
    display: block;
    width: 70%;
    line-height: 1.2;
    margin-bottom: 5px;

}

.card:hover tr::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(212, 250, 211);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.card:hover tr::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, rgb(212, 250, 211), rgb(136, 216, 120));
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.table tr:nth-of-type(1)::before,
span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

.table tr:nth-of-type(2)::before,
 .list span:nth-of-type(2)::after{
    animation-delay: 1.7s;
}


@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.link-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background: linear-gradient(70deg, rgb(250, 208, 208), rgb(216, 120, 120));
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 33%;
    height: 0;
    transition: width 2s, height 2s, background-color 2s;
    border-radius: 0 0 20px 20px;
    transform-origin:top;
    right: 0;
    padding: 0;
}



.link-list li {
    text-align: right;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    display: block;
    width: 95%;
    line-height: 1.2;
    margin-bottom: 5px;

}

.card:hover li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(250, 208, 208);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.card:hover li::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, rgb(250, 208, 208), rgb(216, 120, 120));
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.table tr:nth-of-type(1)::before,
span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(100%)}
    100% {transform: translateX(-100%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(200)}
    100% {transform: translateX(-100%)}
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    width: 100%;
}

.btn-modal {
    display: flex;
    position: relative;
    width: 150px;
    height: 70px;
    background-color: rgb(193, 181, 204);
}

.btn {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    padding: 0;
    border: 1px solid rgb(35, 37, 44);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1em;
    cursor: pointer;
    z-index: 5;
}

.btn:hover {
    opacity: 0.9;
}

.btn-modal > a {
    width: 100%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    box-shadow: 4px -2px 5px black;
}

.btn-modal > a:hover {
    box-shadow: inset 1px -1px 5px black;
}

.Modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,0.7);
    pointer-events: none;
}
.Modal:target {
    display: flex;
    pointer-events: auto;
} 
.Modal_Body {
    position: relative;
    height: 30vh;
    z-index: 2;
    margin: auto;
    display: block;
    padding: 15px;
    background: #FFF;
}

.Modal_Body > p {
display: flex;
height: 100%;
align-items: center;
margin: 0;
}

.Modal-full {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
}
.close:before, 
.close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 20px;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    transition: all 420ms;
    content: '';
    background-color: red;
}
.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}
.close:hover:before, 
.close:hover:after {
    background-color: blue;
}

#contact-toggle {
    display: none;
}

.hidden-contact {
    overflow:hidden;
    transition:transform 0.3s ease-out;
    transform:scaleY(0);
    transform-origin:top;
    width: 100%;
    margin-top: 40px;
}

#contact-btn {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px; 
    width: 35%;
    height: 15%;
    font-size: 1rem;
}

.arrow {
    position: absolute;
    border: solid black;
    display: inline-block;
    padding: 2%;
    margin: 2%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow.left {
    left: 0;
    border-width: 3px 3px 0 0;
}

.arrow.right {
    right: 0;
    border-width: 0 0 3px 3px;
}

#contact-toggle:checked ~ .hidden-contact{
    visibility: visible;
    margin-bottom: 10px;
    margin-top: 50px;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    overflow:hidden;
    transition:transform 0.3s ease-out;
    transform:scaleY(1);
    transform-origin:top;

}

#contact-toggle:checked ~ #contact-btn {
    background-color: burlywood;
}

#contact-toggle:checked ~ #contact-btn > .arrow.left,
#contact-toggle:checked ~ #contact-btn > .arrow.right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 22px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }  

    .arrow.left, .arrow.right {
        display: none;
    }

    #contact-toggle:checked ~ #contact-btn > .arrow.left,
    #contact-toggle:checked ~ #contact-btn > .arrow.right {
           display: none;
}
}