/* ---------- Common ---------- */
:root {
    --base-height: 100vh;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    caret-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

a:link {
    cursor: pointer;
    color:beige;
    text-decoration: none;
}

a:visited {color:beige}

.wrapper {
    overflow-x:hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
    width: 100%;
    height: var(--base-height);
    perspective: 500px;
}

/* ---------- Layers ---------- */
.parallax__group {
    display: flex;
    justify-content: center;
    position: relative;
    height: var(--base-height);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.parallax__group > section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.parallax__layer--back {
    background-image: 
        linear-gradient(225deg, rgba(61, 61, 61, 0.08) 0%, rgba(61, 61, 61, 0.08) 16%,rgba(209, 209, 209, 0.08) 16%, rgba(209, 209, 209, 0.08) 53%,rgba(180, 180, 180, 0.08) 53%, rgba(180, 180, 180, 0.08) 75%,rgba(247, 247, 247, 0.08) 75%, rgba(247, 247, 247, 0.08) 81%,rgba(161, 161, 161, 0.08) 81%, rgba(161, 161, 161, 0.08) 83%,rgba(17, 17, 17, 0.08) 83%, rgba(17, 17, 17, 0.08) 100%),
        linear-gradient(180deg, rgba(105, 105, 105, 0.1) 0%, rgba(105, 105, 105, 0.1) 11%,rgba(103, 103, 103, 0.1) 11%, rgba(103, 103, 103, 0.1) 50%,rgba(7, 7, 7, 0.1) 50%, rgba(7, 7, 7, 0.1) 69%,rgba(166, 166, 166, 0.1) 69%, rgba(166, 166, 166, 0.1) 100%),
        linear-gradient(225deg, rgba(40, 40, 40, 0.1) 0%, rgba(40, 40, 40, 0.1) 31%,rgba(216, 216, 216, 0.1) 31%, rgba(216, 216, 216, 0.1) 34%,rgba(24, 24, 24, 0.1) 34%, rgba(24, 24, 24, 0.1) 36%,rgba(107, 107, 107, 0.1) 36%, rgba(107, 107, 107, 0.1) 53%,rgba(228, 228, 228, 0.1) 53%, rgba(228, 228, 228, 0.1) 60%,rgba(136, 136, 136, 0.1) 60%, rgba(136, 136, 136, 0.1) 92%,rgba(88, 88, 88, 0.1) 92%, rgba(88, 88, 88, 0.1) 100%),
        linear-gradient(180deg, rgba(180, 180, 180, 0.01) 0%, rgba(180, 180, 180, 0.01) 8%,rgba(250, 250, 250, 0.01) 8%, rgba(250, 250, 250, 0.01) 62%,rgba(101, 101, 101, 0.01) 62%, rgba(101, 101, 101, 0.01) 82%,rgba(243, 243, 243, 0.01) 82%, rgba(243, 243, 243, 0.01) 89%,rgba(22, 22, 22, 0.01) 89%, rgba(22, 22, 22, 0.01) 90%,rgba(73, 73, 73, 0.01) 90%, rgba(73, 73, 73, 0.01) 96%,rgba(61, 61, 61, 0.01) 96%, rgba(61, 61, 61, 0.01) 100%),
        linear-gradient(180deg, rgb(3,3,32),rgba(58,6,254, 0.68));
    -webkit-transform: translateZ(-500px) scale(2);
    transform: translateZ(-400px) scale(2);
    z-index: 3;
}

.parallax__layer--base {
    height:calc(var(--base-height) - 50%);
    width: 90%;
    display: flex;
    background-color: beige;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transform-style: preserve-3d;
    z-index: 4;
}

.parallax__layer--deep {
    background-image: 
        linear-gradient(135deg, rgba(61, 61, 61, 0.08) 0%, rgba(61, 61, 61, 0.08) 16%,rgba(209, 209, 209, 0.08) 16%, rgba(209, 209, 209, 0.08) 53%,rgba(180, 180, 180, 0.08) 53%, rgba(180, 180, 180, 0.08) 75%,rgba(247, 247, 247, 0.08) 75%, rgba(247, 247, 247, 0.08) 81%,rgba(161, 161, 161, 0.08) 81%, rgba(161, 161, 161, 0.08) 83%,rgba(17, 17, 17, 0.08) 83%, rgba(17, 17, 17, 0.08) 100%),
        linear-gradient(90deg, rgba(105, 105, 105, 0.1) 0%, rgba(105, 105, 105, 0.1) 11%,rgba(103, 103, 103, 0.1) 11%, rgba(103, 103, 103, 0.1) 50%,rgba(7, 7, 7, 0.1) 50%, rgba(7, 7, 7, 0.1) 69%,rgba(166, 166, 166, 0.1) 69%, rgba(166, 166, 166, 0.1) 100%),
        linear-gradient(135deg, rgba(40, 40, 40, 0.1) 0%, rgba(40, 40, 40, 0.1) 31%,rgba(216, 216, 216, 0.1) 31%, rgba(216, 216, 216, 0.1) 34%,rgba(24, 24, 24, 0.1) 34%, rgba(24, 24, 24, 0.1) 36%,rgba(107, 107, 107, 0.1) 36%, rgba(107, 107, 107, 0.1) 53%,rgba(228, 228, 228, 0.1) 53%, rgba(228, 228, 228, 0.1) 60%,rgba(136, 136, 136, 0.1) 60%, rgba(136, 136, 136, 0.1) 92%,rgba(88, 88, 88, 0.1) 92%, rgba(88, 88, 88, 0.1) 100%),
        linear-gradient(90deg, rgba(180, 180, 180, 0.01) 0%, rgba(180, 180, 180, 0.01) 8%,rgba(250, 250, 250, 0.01) 8%, rgba(250, 250, 250, 0.01) 62%,rgba(101, 101, 101, 0.01) 62%, rgba(101, 101, 101, 0.01) 82%,rgba(243, 243, 243, 0.01) 82%, rgba(243, 243, 243, 0.01) 89%,rgba(22, 22, 22, 0.01) 89%, rgba(22, 22, 22, 0.01) 90%,rgba(73, 73, 73, 0.01) 90%, rgba(73, 73, 73, 0.01) 96%,rgba(61, 61, 61, 0.01) 96%, rgba(61, 61, 61, 0.01) 100%),
        linear-gradient(90deg, rgb(3,3,32),rgba(58,6,254, 0.68));
    left:0;
    right:0;
    top:0;
    bottom: 0;
    -webkit-transform: translateZ(-900px) scale(3);
    transform: translateZ(-900px) scale(3);
    z-index: 2;
}

.parallax__layer--fore {
    height: calc(var(--base-height) - 85%);
    -webkit-transform: translateZ(170px) translateY(35%) scale(.7);
    transform: translateZ(170px) translateY(35%) scale(.7);
    background-color: blue;
    z-index: 1;
}

.parallax__layer .parallax__layer--fore .html {
    transform: translateZ(170px) scale(.7) translateY(10%);
}

.js {
    top:10%;
    transform: translateY(25vh) translateZ(190px) scale(.7);
}

/* ---------- Contacts ---------- */
.contacts {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.contacts > input {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 10%;
    width: 28%;
    height: 10%;
    caret-color: black;
}

.contacts > label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 10%;
}

.contacts > textarea {
    width: 28vw;
    height: 20%;
    margin-left: 10%;
    caret-color: black;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 12%;
}

.logos > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

img {
    width: 10vw;
    height: 10vw;
}

#contacts {
    background: radial-gradient(43em circle at 16em 4em, #ffffde 60%, #4c4848);
    -webkit-box-shadow: 0em 4em 1em 1em rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 0em 4em 1em 1em rgba(34, 60, 80, 0.54);
    box-shadow: 0em 4em 1em 1em rgba(34, 60, 80, 0.54);
}

#contacts > h3 {
    position: absolute;
    top: 3vmin;
}

#contacts > div {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn {
    width: 20vmin;
    margin-left: 0;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

#btn:active{
    transform: scale(.96);
    color: white;
    background-color: rgb(74, 80, 100);
}

/* ---------- About ---------- */
#about {
    transform: translateY(12%);
    scroll-margin-top: 20vh;
    background: radial-gradient(54em circle at 10em 1em, #ffffde 60%, #4c4848);
    -webkit-box-shadow: 3em 4em 1em 1em rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 3em 4em 1em 1em rgba(34, 60, 80, 0.54);
    box-shadow: 3em 4em 1em 1em rgba(34, 60, 80, 0.54);
}

#about > div {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 85%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#vk__github > a > img {
    cursor: pointer;
}

/* ---------- Portfolio ---------- */
#portfolio {
    align-items: center;
    justify-content: center;
    scroll-margin-top: 18vh;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    background: radial-gradient(49em circle at 46em 6em, #ffffde 60%, #4c4848);
    -webkit-box-shadow: -3em 4em 1em 1em rgba(34, 60, 80, 0.54);
    -moz-box-shadow: -3em 4em 1em 1em rgba(34, 60, 80, 0.54);
    box-shadow: -3em 4em 1em 1em rgba(34, 60, 80, 0.54);
}

#portfolio > h2 {
    position: absolute;
    top: 4vh;
}

/* ---------- Menu ---------- */
.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5%;
    background-color: #4e408f;
    position: sticky;
    top: 95vh;
    z-index: 6;
    color: beige;
}

li {
    width: 25%;
    height: 100%;
    list-style-type: none;
}

 li > a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    transform-origin: center;
    background-color: #4e408f;
}

.btn__0:hover,
.btn__1:hover,
.btn__2:hover,
.btn__3:hover {
    transform: scaleY(1.3);
    background-color: beige;
    color:rgba(34, 60, 80, 0.54)
}

/* ---------- Navigation to Home ---------- */
.scroll {
    position: absolute;
    bottom: -6vh;
    right: 6vw;
    width: 6vw;
    height: 6vw;
    flex-direction: column;
    background-color: transparent;
    z-index: 7;
}

.scroll > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color:beige;
    overflow: hidden;
    transition: all 1s ease;
}

.nav:hover {
    background-color: rgb(252, 252, 252);
    -webkit-box-shadow: -1px 16px 68px 13px rgba(0, 0, 0, 0.18);
-moz-box-shadow: -1px 16px 68px 13px rgba(0, 0, 0, 0.18);
box-shadow: -1px 16px 68px 13px rgba(0, 0, 0, 0.18);
}

.nav > div {
    width: 40%;
    height: 40%;
    border-top: 2px solid black;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px  solid black;
    animation: transform 2s infinite; 
}

@keyframes transform {
    0% {
        transform: rotateZ(45deg) translateY(2.3vmin) translateX(2.3vmin);
    }
    100%{
        transform: rotateZ(45deg) translateY(-2.5vmin) translateX(-2.5vmin);
    }
}

/* ---------- Home ---------- */
.text {
    position: absolute;
    top:0;
    font-size: 3.5rem;
    color: beige;
    font-family: 'Monoton', cursive;
    text-shadow:
    -3px -3px 0 blue,
    3px -3px 0 blue,
    -3px 3px 0 blue,
    3px 3px 0 blue,
    4px 4px 0 blue,
    5px 5px 0 blue,
    6px 6px 0 blue,
    7px 7px 0 blue;
}

.text__title {
    width: 90%;
    height: 100%;
    color: beige;
    font-family: 'Monoton', cursive;
    text-shadow:
    4px 4px 0 rgb(106, 32, 143),
    5px 5px 0 rgb(87, 6, 128),
    6px 6px 0 black,
    7px 7px 0 black;
}

.text__title > h1 {
    order: 2;
    letter-spacing: 1.1rem;
    font-size: 2.5rem;
    text-align: center;
}

.text__title > h2{
    order: 1;
    width: 80%;
    letter-spacing: .4rem;
    font-size: 1.5rem;
    text-align: center;
}
.text__title > h3 {
    order: 3;
    margin-bottom: 15vh;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-align: center;
}

.text__html {
    right: 0;
    transform: translateZ(200px) translateX(-18vw) translateY(1%) rotateX(-80deg);
}

.text__css {
    left:0;
    transform: translateZ(200px) translateX(18vw) translateY(35%) rotateX(-80deg);
}

.text__js {
    transform: translateZ(250px) translateX(18vw) translateY(-35%) rotateX(-60deg);
}

/* groups positions */
#group1 {
    z-index: 3;
}

#group2 {
    z-index: 5;
}

#group3 {
    z-index: 4;
}

#group3 .parallax__layer--base {
    left:10vw;
    border-radius: 5px 0px 0px 5px;
}

#group4 {
    z-index: 7;
}

#group4 .parallax__layer--back {
    transform: scale(1.2);
}

#group4 #contacts{
    display: flex;
    align-items: center;
    left: calc(50% - 45vw);
    border-radius: 5px;
    width: 90vw;
    height: 50%;
    transform: translateZ(0px) translateY(80%) scale(1);
}

/* -----------Slider-------- */
.gallery {
    position: absolute;
    right: 3vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
}

.carousel {
    position: relative;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 300px;
    -webkit-box-shadow: 0em 8em 2em 0em  rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0em 8em 2em 0em  rgba(34, 60, 80, 0.6);
    box-shadow: 0em 8em 2em 0em rgba(34, 60, 80, 0.6);
}

.carousel > li {

    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
}

.carousel > li > a > img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: 6;
}

.popup__description-game15,
.popup__description-cube {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    bottom: 0;
    color: white;
    background-color: rgba(0, 4, 7, 0.795);
    transform-origin: center;
    transition: all 1s ease;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.game15 {
    opacity: 1;
}

.game15:hover .popup__description-game15{
    width: 100%;
    height: 50%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 1;
}

.game15:hover a > img,
.cube:hover a > img {
    transform: scale(1.2);
    cursor: pointer;
}

.cube {
    transform: translateX(100%);
}

.cube:hover .popup__description-cube{
    width: 100%;
    height: 50%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 1;
}

.game15:focus .popup__description-game15{
    width: 100%;
    height: 50%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 1;
}

.cube:focus .popup__description-cube{
    width: 100%;
    height: 50%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 1;
}

.gallery > input {
    display: none;
    position: absolute;
    height: 2vw;
    width: 2vw;
    border-radius: 45%;
    bottom: -1.5rem;
}

#slide__1{
    left: calc(50% - 1.2vw);
}

#slide__2{
    left: calc(50% + 1.2vw);
}

#slide__1:checked ~ .slide1__btn-decor,
#slide__2:checked ~ .slide2__btn-decor{
    opacity: 1;
}

#slide__2:checked ~ ul >.game15 {
    transform: translateX(-100%) rotateY(180deg);
}

#slide__2:checked ~ ul >.cube {
    transform: translateX(0) ;
}

#slide__1:checked ~ ul >.cube {
    transform: translateX(100%) rotateY(-180deg);
}

#slide__1:checked ~ ul > .game15 {
    transform: translateX(0) ;
}

.gallery > label {
    position: absolute;
    height: 2vw;
    width: 2vw;
    background-color: rgb(109, 106, 153);
    opacity: .5;
    border-radius: 45%;
    border: 2px solid #20191999;
    bottom: -1.5rem;
    cursor: pointer;
}

.slide1__btn-decor {
    left: calc(50% - 1.2vw);
}

.slide2__btn-decor {
    left: calc(50% + 1.2vw);
}

.gallery > label:hover {
    background-color: rgba(63, 54, 182, 0.555);
    opacity: .8;
}

#slide__1:checked ~ .slide1__btn-decor1 {
    background-color: rgb(23, 16, 126);
    opacity: 1;
}

#slide__2:checked ~ .slide1__btn-decor2 {
    background-color: rgb(23, 16, 126);
    opacity: 1;
}
/* ----------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 750px) {

    /* ----------- Common -------- */
    :root {
        font-size: 20px;
    }

    /* ----------- Home -------- */
    .text__title {
        height: 85%;
    }

    .text__title > h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    .text__title > h2 {
        font-size: 1.2rem;
    }

    .text__title > h3 {
        font-size: .9rem;
        margin-bottom: 15vh;
    }

    /* ----------- Layers -------- */
    .parallax__layer--base {
        height: calc(var(--base-height) - 40%);
    }

    /* ----------- Portfolio -------- */
    .gallery > label {
        height: 4vw;
        width: 4vw;
    }

    .gallery {
        right: 3.2vw;
    }

    .gallery > input {
        height: 4vw;
        width: 4vw;
    }

    .game15:focus .popup__description-game15{
    height: 80%;
    }

    .game15:focus a > img {
    transform: scale(1.4);
    }

    .cube:focus .popup__description-cube{
    height: 70%;
    }

    #slide__1 {
        left: calc(50% - 2.5vw);
    }

    #slide__2 {
        left: calc(50% + 2.5vw);
    }

    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }

    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }

    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }

    #contacts > div {
        width: 90%;
        height: 80%;
    }

    .logos {
        height: 60%;
        display: flex;
        flex-direction: column;
    }

    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }

    .contacts > label {
        width: 100%;
    }

    .contacts > input {
        margin: 0;
        width: 75%;
    }

    .contacts > textarea {
        margin: 0;
        width: 95%;
    }

    #btn {
        font-size: 1rem;;
    }
}

@media all and (min-device-width: 425px) and (min-device-height: 860px) and (orientation:portrait){

    /* ----------- Home -------- */
    .text__title {
        height: 90%;
    }

    /* ----------- Layers -------- */
    .parallax__layer--base {
        height: 60%;
    }

    /* ----------- Portfolio -------- */
    .gallery > input {
        height: 4vw;
        width: 4vw;
    }
    
    .gallery > label {
        height: 4vw;
        width: 4vw;
    }
    
    .game15:focus .popup__description-game15{
        height: 100%;
    }
    
    .game15:focus a > img {
        transform: scale(1.4);
    }
    
    .cube:focus .popup__description-cube{
        height: 100%;
    }
    
    #slide__1 {
        left: calc(50% - 2.5vw);
    }
    
    #slide__2 {
        left: calc(50% + 2.5vw);
    }
    
    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }
    
    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }
    
    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }
    
    #contacts > div {
        width: 90%;
        height: 80%;
    }
    
    .logos {
        height: 60%;
        display: flex;
        flex-direction: column;
    }
    
    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }
    
    .contacts > label {
        width: 100%;
    }
    
    .contacts > input {
        margin: 0;
        width: 75%;
    }
    
    .contacts > textarea {
        margin: 0;
        width: 95%;
    }

    .text {
        text-shadow: 3px 3px 0 blue, 3px 3px 0 blue, 3px 3px 0 blue, 3px 3px 0 blue, 4px 4px 0 blue, 5px 5px 0 blue, 6px 6px 0 blue, 7px 7px 0 blue;
    }
    
    #btn {
        font-size: 1rem;;
    }
}

@media all and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation:portrait){
    /* ----------- Common -------- */
    :root {
        font-size: 20px;
    }

    /* ----------- Home -------- */
    .text__title > h3 {
        margin-bottom: 20vh;
    }

    /* ----------- Menu -------- */
    .menu {
        font-size: 1.5rem;
    }

    /* ----------- Portfolio -------- */
    .gallery > input {
        height: 4vw;
        width: 4vw;
    }

    .gallery > label {
        height: 4vw;
        width: 4vw;
    }

    .game15:focus .popup__description-game15{
        height: 75%;
    }

    .game15:focus a > img {
        transform: scale(1.4);
    }

    .cube:focus .popup__description-cube{
        height: 75%;
    }

    #slide__1 {
        left: calc(50% - 2.5vw);
    }

    #slide__2 {
        left: calc(50% + 2.5vw);
    }

    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }

    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }

    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }

    #contacts > div {
        width: 90%;
        height: 80%;
    }

    .logos {
        height: 60%;
        display: flex;
        flex-direction: column;
    }

    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }

    .contacts > label {
        width: 100%;
    }

    .contacts > input {
        margin: 0;
        width: 75%;
    }

    .contacts > textarea {
        margin: 0;
        width: 95%;
    }

    #btn {
        font-size: 1rem;;
    }
  }
  
  @media screen and (device-aspect-ratio: 2/3) {
    /* ----------- Common -------- */
    :root {
        font-size: 24px;
    }

    /* ----------- Home -------- */
    .text__title > h1 {
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }

    .text__title > h2 {
        font-size: 1.6rem;
        letter-spacing: .8rem;
    }

    .text__title > h3 {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
        margin-bottom: 22vh;
    }
}

@media (device-aspect-ratio: 3/4) and (orientation:portrait){
    /* ----------- Home -------- */
    .text__title > h3 { 
        margin-bottom: 25vh; 
    }

    /* ----------- About -------- */
    #about > div {
        font-size: .9rem;
    }

    /* ----------- Portfolio -------- */
    .gallery > input {
        height: 4vw;
        width: 4vw;
    }
        
    .gallery > label {
        height: 4vw;
        width: 4vw;
    }
        
    .game15:focus .popup__description-game15{
        height: 100%;
    }
        
    .game15:focus a > img {
        transform: scale(1.4);
    }
        
    .cube:focus .popup__description-cube{
        height: 100%;
    }
        
    #slide__1 {
        left: calc(50% - 2.5vw);
    }
        
    #slide__2 {
        left: calc(50% + 2.5vw);
    }
        
    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }
        
    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }
        
    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }
        
    #contacts > div {
        width: 90%;
        height: 80%;
    }
        
    .logos {
        height: 60%;
        display: flex;
        flex-direction: column;
    }
        
    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }
        
    .contacts > label {
        width: 100%;
    }
        
    .contacts > input {
        margin: 0;
        width: 75%;
    }
        
    .contacts > textarea {
        margin: 0;
        width: 95%;
    }
        
    #btn {
        font-size: 1rem;;
    }
}

@media screen and (device-aspect-ratio: 384/425) and (orientation:portrait) {
    .text__title > h1 {
        font-size: 2.8rem;
        letter-spacing: 1.1rem;
    }

    .text__title > h2 {
        font-size: 1.8rem;
        letter-spacing: .4rem;
    }

    .text__title > h3 {
        font-size: 1.2rem;
        margin-bottom: 21vh;
    }
}

@media only screen and (max-width: 414px) and (orientation:portrait) {
    /* ----------- Common -------- */
    :root {
        font-size: 12px;
    }

    /* ----------- Menu -------- */
    .menu {
        font-size: 1.3rem;
    }

    /* ----------- Layers -------- */
    .parallax__layer--base {
        height: calc(var(--base-height) - 40%);
    }

    /* ----------- Home -------- */
    .text__title {
        height: 90%;
    }

    .text__title > h1 {
        font-size: 1.6rem;
        letter-spacing: 1rem;
    }

    .text__title > h2 {
        font-size: 1rem;
        letter-spacing: .3rem;
    }

    .text__title > h3 {
        font-size: .9rem;
        margin-bottom: 15vh;
    }

    /* ----------- About -------- */
    #about > div {
        font-size: .95rem;
    }

    /* ----------- Portfolio -------- */
    #portfolio {
        background: radial-gradient(58em circle at 42em 13em, #ffffde 60%, #4c4848);
    }

    .text__css {
        transform: translateZ(200px) translateX(18vw) translateY(20%) rotateX(-80deg);
    }

    .gallery > label {
        height: 4vw;
        width: 4vw;
    }

    .gallery {
        height: 85%;
        right: 3.2vw;
    }

    .gallery > input {
        height: 4vw;
        width: 4vw;
    }

    .game15:focus .popup__description-game15{
        padding: 0 1% 0 1%;
        height: 100%;
    }

    .game15:focus a > img {
        transform: scale(1.4);
    }

    .cube:focus .popup__description-cube{
        height: 100%;
        padding: 0 1% 0 1%;
    }

    #slide__1 {
        left: calc(50% - 2.5vw);
    }

    #slide__2 {
        left: calc(50% + 2.5vw);
    }

    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }

    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }

    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }

    #contacts > div {
        width: 90%;
        height: 80%;
    }

    .logos {
        height: 60%;
        display: flex;
        flex-direction: column;
    }

    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }

    .contacts > label {
        width: 100%;
    }

    .contacts > input {
        width: 75%;
        margin: 0;
    }

    .contacts > textarea {
        margin: 0;
        width: 100%;
    }
}
  
@media only screen and (device-aspect-ratio: 1/2) {
    /* ----------- Home -------- */
    .text__title {
        height: 90%;
    }

    /* ----------- About -------- */
    #about > div {
        font-size: .9rem;
    }

    /* ----------- Portfolio -------- */
    #portfolio {
        background: radial-gradient(49em at 37em 6em, rgb(255, 255, 222) 60%, rgb(76, 72, 72));
    }

    .gallery > label {
        height: 4vw;
        width: 4vw;
    }

    .gallery > input {
        height: 4vw;
        width: 4vw;
    }

    #slide__1 {
        left: calc(50% - 2.5vw);
    }

    #slide__2 {
        left: calc(50% + 2.5vw);
    }

    .slide1__btn-decor {
        left: calc(50% - 2.5vw);
    }

    .slide2__btn-decor {
        left: calc(50% + 2.5vw);
    }
}

  @media screen and (device-aspect-ratio: 16/9), screen and (device-width: 854px) and (device-height: 480px) {
    /* ----------- Home -------- */
    .text__title {
        height: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 2149px) {
    /* ----------- Common -------- */
    :root {
        font-size: 22px;
    }

    /* ----------- Menu -------- */
    .menu {
        top: 90%;
        height: 10%;
        font-size: 1.4rem;
    }

    /* ----------- About -------- */
    .text__html {
        transform: translateZ(200px) translateX(-18vw) translateY(-10%) rotateX(-60deg);
    }

    /* ----------- Layers -------- */
    .parallax__layer--base {
        height: calc(var(--base-height) - 40%);
    }

    /* ----------- Portfolio -------- */
    .text__css {
        transform: translateZ(200px) translateX(18vw) translateY(20%) rotateX(-80deg);
    }

    /* ----------- About -------- */
    #about {
        scroll-margin-top: 22vh;
        background: radial-gradient(54em circle at 10em 1em, #ffffde 76%, #4c4848);
        font-size: 1.3rem;
    }

    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }

    #contacts {
        background: radial-gradient(63em circle at 17em 6em, #ffffde 84%, #4c4848);
    }

    #contacts > div {
        width: 90%;
        height: 95%;
    }

    #contacts > h3 {
        top: .2vw;
        font-size: 1.5rem;
    }

    .logos {
        width: 50%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }

    .contacts > label {
        width: 100%;
    }

    .contacts > input {
        width: 55%;
        margin-left: 10%;
        font-size: 1rem;
    }

    .contacts > textarea {
        margin-left: 10%;
        width: 90%;
        font-size: 1rem;
    }

    #mail > img {
        width: 8vw;
        height: 8vw;
    }

    #vk__github {
        width: 100%;
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2150px) {
    /* ----------- Common -------- */
    :root {
        font-size: 28px;
    }

    /* ----------- Menu -------- */
    .menu {
        font-size: 1.2rem;
    }

    /* ----------- Layers -------- */
    .parallax__layer--base {
        height: calc(var(--base-height) - 45%);
    }

    /* ----------- About -------- */
    #about {
        scroll-margin-top: 21vh;
        background: radial-gradient(54em circle at 20em 1em, #ffffde 60%, #4c4848);
    }

    #about > div {
        font-size: 1.5rem;
        width: 60vw;
    }

    .text__html {
        transform: translateZ(200px) translateX(-18vw) translateY(1%) rotateX(322deg);
    }

        /* ----------- Portfolio -------- */
    #portfolio {
        background: radial-gradient(58em circle at 42em 13em, #ffffde 60%, #4c4848);
    }
    
    .text__css {
        transform: translateZ(200px) translateX(18vw) translateY(25%) rotateX(-35deg);
    }
    
    .gallery {
        height: 85%;
        right: 3.2vw;
    }
    
    .game15:focus .popup__description-game15{
        padding: 0 1% 0 1%;
        height: 50%;
    }
    
    .game15:focus a > img {
        transform: scale(1.4);
    }
    
    .cube:focus .popup__description-cube{
        height: 50%;
    }
    
    /* ----------- Contacts -------- */
    .text__js {
        transform: translateZ(250px) translateX(15vw) translateY(-35%) rotateX(-60deg);
    }

    #contacts {
        background: radial-gradient(59em circle at 26em 7em, #ffffde 60%, #4c4848);
    }
    
    #contacts > div {
        width: 90%;
        height: 95%;
    }
    
    #contacts > h3 {
        top: .3vw;
        font-size: 1.5rem;
    }
    
    .logos {
        width: 50%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .logos > div {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }
    
    .contacts > label {
        width: 100%;
    }
    
    .contacts > input {
        width: 50%;
        font-size: 1rem;
    }
    
    .contacts > textarea {
        font-size: 1rem;
        width: 70%;
    }
    
    #mail > img {
        width: 8vw;
        height: 8vw;
    }
    
    #vk__github {
        width: 100%;
        flex-direction: row;
    }
}